<section class="components-section">
    <div class="components-container">
        <div class="components-all-header">
            <h2 class="components-header">IT ALL ADDS UP TO ONE EXCEPTIONAL <span
                    class="components-header-span">TASTE</span> SENSATION</h2>
            <p class="components-header-paragraph">At Simply Chocolate, we believe that the secret to exceptional
                chocolate
                is in
                the details. From the sourcing of the
                finest ingredients to the careful crafting of each individual piece, every step of our process adds up
                to
                one exceptional taste sensation.
            </p>
        </div>
        <div class="components-ul">
            <div class="components-ul-1">
                <ul class="components-list">
                    <li class="components-list-image components-flip-card components-milk-chocolate">
                        <div class="components-flip-card-inner">
                            <div class="components-flip-card-front">
                                <div class="components-link">
                                    <img class="components-image-size" src="./images/components/components-1.png"
                                        alt="piece of chocolate" width="206" height="160"
                                        srcset="./images/components/components-1-desktop.png 1x, ./images/components/components-1-desktop@2x.png 2x">
                                </div>
                                <div class="components-description">
                                    <h3 class="components-description-under-image">MILK CHOCOLATE</h3>
                                </div>
                            </div>
                            <div class="components-flip-card-back ">
                                <div class="components-hidden-section">
                                    <h3 class="components-h3">Milk chocolate</h3>
                                    <ul class="components-button">
                                        <li>
                                            <button type="button" class="components-list-buttons">chocolate</button>
                                        </li>
                                        <li>
                                            <button type="button" class="components-list-buttons">the
                                                benefits</button>
                                        </li>
                                    </ul>
                                </div>
                                <p class="components-hidden-paragraph">Milk chocolate is a solid chocolate confectionery
                                    containing cocoa, sugar and milk. It is
                                    the most consumed type of
                                    chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian
                                    times. Although four-fifths of all
                                    milk chocolate is sold in the United States and Europe.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="components-list-image components-flip-card components-orange-border">
                        <div class="components-flip-card-inner">
                            <div class="components-flip-card-front-milk-sweet">
                                <div class="components-link">
                                    <img class="components-image-size" src="./images/components/components-2.png"
                                        alt="bottle of milk" width="206" height="160"
                                        srcset="./images/components/components-2-desktop.png 1x, ./images/components/components-2-desktop@2x.png 2x">
                                </div>
                                <div class="components-description">
                                    <h3 class="components-description-under-image-milk-sweet">MILK</h3>
                                </div>
                            </div>
                            <div class="components-flip-card-back">
                                <div class="components-hidden-section">
                                    <h3 class="components-h3">Milk</h3>
                                    <ul class="components-button">
                                        <li>
                                            <button type="button" class="components-list-buttons">milk</button>
                                        </li>
                                        <li>
                                            <button type="button" class="components-list-buttons">the
                                                benefits</button>
                                        </li>
                                    </ul>
                                </div>
                                <p class="components-hidden-paragraph">Milk is a white liquid food produced by the
                                    mammary
                                    glands of mammals. It is the primary
                                    source of nutrition for young
                                    mammals (including breastfed human infants) before they are able to digest solid
                                    food.Early-lactation milk, which is
                                    called colostrum, contains antibodies that strengthen the immune system.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="components-ul-2">
                <ul class="components-list-ul-2">
                    <li class="components-list-image components-flip-card components-milk-chocolate">
                        <div class="components-flip-card-inner">
                            <div class="components-flip-card-front-nuts">
                                <div class="components-link">
                                    <img class="components-image-size" src="./images/components/components-3.png"
                                        alt="nuts" width="206" height="160"
                                        srcset="./images/components/components-3-desktop.png 1x, ./images/components/components-3-desktop@2x.png 2x">
                                </div>
                                <div class="components-description">
                                    <h3 class="components-description-under-image">NUTS</h3>
                                </div>
                            </div>
                            <div class="components-flip-card-back">
                                <div class="components-hidden-section">
                                    <h3 class="components-h3">Nuts</h3>
                                    <ul class="components-button">
                                        <li>
                                            <button type="button" class="components-list-buttons">nuts</button>
                                        </li>
                                        <li>
                                            <button type="button" class="components-list-buttons">the
                                                benefits</button>
                                        </li>
                                    </ul>
                                </div>
                                <p class="components-hidden-paragraph">Almonds, pistachios, and walnuts are some types
                                    of
                                    nuts
                                    that contain healthy nutrients.
                                    When eaten as part of a
                                    nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of
                                    heart
                                    disease. They’re a good source
                                    of fiber, healthy fats, and plant protein. Plus, they’re great on their own.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="components-list-image components-flip-card components-milk-chocolate">
                        <div class="components-flip-card-inner">
                            <div class="components-flip-card-front-milk-sweet">
                                <div class="components-link">
                                    <img class="components-image-size" src="./images/components/components-4.png"
                                        alt="round pieces of chocolate" width="206" height="160"
                                        srcset="./images/components/components-4-desktop.png 1x, ./images/components/components-4-desktop@2x.png 2x">
                                </div>
                                <div class="components-description">
                                    <h3 class="components-description-under-image-milk-sweet">SEMI - SWEET CHOCOLATE
                                    </h3>
                                </div>
                            </div>
                            <div class="components-flip-card-back">
                                <div class=" components-hidden-section">
                                    <h3 class="components-h3">Semi - sweet chocolate</h3>
                                    <ul class="components-button">
                                        <li>
                                            <button type="button" class="components-list-buttons">sweet
                                                chocolate</button>
                                        </li>
                                        <li>
                                            <button type="button" class="components-list-buttons">the
                                                benefits</button>
                                        </li>
                                    </ul>
                                </div>
                                <p class="components-hidden-paragraph components-hidden-paragraph-seet-desktop">
                                    Semi-sweet chocolate has a cocoa solid content of
                                    35
                                    to
                                    65%. One of the best ways to gain
                                    an understanding of this type
                                    of chocolate is to compare it to a different type of chocolate. Semisweet is darker
                                    than
                                    milk chocolate. In a taste
                                    comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</section>