<!-- ===============HEADER================ -->
<header>
  <div class="header-container">
    <nav class="header-navigation">
      <!-- ============LOGO========= -->
      <div class="header-logo">
        <a class="link" href="">
          <span class="header-logo-text">SIMPLY CHOCOLATE</span>
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-chocolate"></use>
          </svg>
        </a>
      </div>
      <!-- ============NAVIGATION========= -->
      <div class="header-nav-box">
        <ul class="list">
          <li>
            <a class="link header-nav-list-item" href="">Home</a>
          </li>
          <li>
            <a class="link header-nav-list-item" href="">How it’s made?</a>
          </li>
          <li>
            <a class="link header-nav-list-item" href="">Our products</a>
          </li>
          <li>
            <a class="link header-nav-list-item" href="">Top sellers</a>
          </li>
          <li>
            <a class="link header-nav-list-item" href="">Chocolate is loved</a>
          </li>
        </ul>
      </div>
      <!-- ============SOCIAL MEDIA========= -->
      <div class="header-social-media-box">
        <ul class="list">
          <li>
            <a class="link" href="">
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
            <a class="link" href="">
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="header-burger-menu">
        <button type="button" class="header-burger-button">
          <svg class="burger-icon" width="28" height="28">
            <path
              d="M3.5 14H24.5M3.5 7H24.5M3.5 21H24.5"
              stroke="#111111"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
