<!-- ===============HEADER================ -->
<header id="header">
  <div class="container">
    <nav class="header-navigation">
      <!-- ============LOGO========= -->
      <div class="header-logo">
        <a class="link" href="">
          <p class="header-logo-text">SIMPLY <span class="header-chocolate">CHOCOLATE</span></p>
          <svg class="header-chocolate-icon" xmlns="http://www.w3.org/2000/svg">
            <use href="./images/icons.svg#icon-chocolate"></use>
          </svg>
        </a>
      </div>
      <!-- ============NAVIGATION========= -->
      <div class="header-nav-box">
        <ul class="list">
          <li class="header-relative-li">
            <a class="link header-nav-list-item header-nev-underline" href="#header">Home</a>
          </li>
          <li class="header-relative-li">
            <a class="link header-nav-list-item header-nev-underline" href="#making">How it’s made?</a>
          </li>
          <li class="header-relative-li"> 
            <a class="link header-nav-list-item header-nev-underline" href="#products">Our products</a>
          </li>
          <li class="header-relative-li">
            <a class="link header-nav-list-item header-nev-underline" href="#sellers">Top sellers</a>
          </li>
          <li class="header-relative-li">
            <a class="link header-nav-list-item header-nev-underline" href="#reviews">Chocolate is loved</a>
          </li>
        </ul>
      </div>
      <!-- ============SOCIAL MEDIA========= -->
      <div class="header-social-media-box">
        <ul class="list">
          <li>
            <a class="link header-social-link" href="https://www.instagram.com">
              <svg class="header-instagram-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <use href="./images/icons.svg#icon-instagram">

                </use>
              </svg>
            </a>
          </li>
          <li>
            <a class="link header-social-link" href="https://www.twitter.pl">
              <svg class="header-twitter-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24">
              <use href="./images/icons.svg#icon-twitter">

              </use></svg>
                
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="header-burger-menu">
        <button type="button" class="header-burger-button menu-toggle js-open-menu">
          <svg class="header-burger-icon">
            <use href="./images/icons.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
