<section id="hero">
  <div class="container hero-container">
    <div class="hero-background">
      <div class="hero-content">
        <h1 class="first-heading visually-hidden">Simply Chocolate</h1>
        <h2 class="second-heading hero-heading">
          Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
        </h2>
        <div class="hero-buttons">
          <div class="hero-button-row">
            <button class="hero-button hero-buy" type="button" data-modal-buy-open>Buy now</button>
            <a href="#making" class="link hero-button hero-how">How it's made</a>
          </div>
          <div class="hero-button-row">
            <p class="hero-p">scroll down</p>
            <a href="#footer" class="link hero-scroll">
              <svg class="hero-scroll-icon" width="22" height="22">
                <use href="images/icons.svg#icon-arrow-down" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
