<div class="backdrop-buy is-hidden" data-modal-buy="/src/js/modal-buy.js">
  <div class="buy-window">
    <button class="buy-close" type="button" data-modal-buy-close>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M18 6L6 18" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6 6L18 18" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    <h2 class="buy-now"><span class="buy-span">BUY</span> NOW</h2>

    <div class="buy-schoco-div">
      <div class="buy-schoco">
        <div class="buy-schoco-cont">
          <div class="buy-schoco-cont-one"></div>
          <button class="buy-grams">100 g</button>
        </div>
      </div>
  
      <div class="buy-schoco-two">
        <div class="buy-schoco-cont">
          <div class="buy-schoco-cont-two"></div>
          <button class="buy-grams">200 g</button>
        </div>
      </div>
  
      <div class="buy-schoco-three">
        <div class="buy-schoco-cont">
          <div class="buy-schoco-cont-three"></div>
          <button class="buy-grams">300 g</button>
        </div>
      </div>
  
    </div>

    <form action="" class="buy-form">
      <div class="buy-p-inf">
        <label for="text" class="buy-form-label-one">Personal information</label>
        <div class="buy-inp-div">
          <div class="buy-input-div">
            <input type="text" placeholder="Name" class="buy-input" required>
          </div>
          <div class="buy-input-div">
            <input type="text" placeholder="Surname" class="buy-input" required>
          </div>
        </div>
      </div>

      <div class="buy-p-inf">
        <label for="email" class="buy-form-label-one">Email</label>
        <div class="buy-input-div">
          <input type="email" placeholder="Enter your email" class="buy-input" required>
        </div>

      </div>

      <div class="buy-p-inf">
        <div class="buy-phone">
        </div>
        <label for="phone number" class="buy-form-label-one">Phone number</label>
        <div class="buy-input-div">
          <div class="buy-phone">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="19" viewBox="0 0 24 19" fill="none" class="buy-flag">
              <g clip-path="url(#clip0_33_3992)">
                <path d="M23.874 0.293945H0.182129V17.9251H23.874V0.293945Z" fill="#FFD700"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.182129 0.293945H23.874V9.10951H0.182129V0.293945Z" fill="#0057B7"/>
              </g>
              <defs>
                <clipPath id="clip0_33_3992">
                  <rect width="24" height="18" fill="white" transform="translate(0 0.100098)"/>
                </clipPath>
              </defs>
            </svg>
            <p class="buy-number">+380</p>

          </div>
  <div class="buy-number-two">
    <input type="number" inputmode="numeric" placeholder="Phone number" class="buy-input" required>

  </div>
        </div>
      </div>

      <div class="buy-p-inf">
        <label for="card number" class="buy-form-label-one">Card number</label>
        <div class="buy-input-div">
          <div class="buy-card">
            <input type="number" inputmode="numeric" placeholder="Enter card" class="buy-input" required>
            <div class="buy-master">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="14" viewBox="0 0 22 14" fill="none" class="buy-ico">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11 12.284C9.83793 13.2437 8.33053 13.8231 6.68337 13.8231C3.00802 13.8231 0.0285645 10.9385 0.0285645 7.38029C0.0285645 3.82203 3.00802 0.9375 6.68337 0.9375C8.33053 0.9375 9.83793 1.51687 11 2.47659C12.1621 1.51687 13.6695 0.9375 15.3166 0.9375C18.992 0.9375 21.9714 3.82203 21.9714 7.38029C21.9714 10.9385 18.992 13.8231 15.3166 13.8231C13.6695 13.8231 12.1621 13.2437 11 12.284Z" fill="#ED0006"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11 12.284C12.4309 11.1023 13.3382 9.34385 13.3382 7.38029C13.3382 5.41672 12.4309 3.65832 11 2.47659C12.1621 1.51687 13.6695 0.9375 15.3166 0.9375C18.992 0.9375 21.9714 3.82203 21.9714 7.38029C21.9714 10.9385 18.992 13.8231 15.3166 13.8231C13.6695 13.8231 12.1621 13.2437 11 12.284Z" fill="#F9A000"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11 12.2839C12.4309 11.1022 13.3382 9.34378 13.3382 7.38023C13.3382 5.41668 12.4309 3.65829 11 2.47656C9.56916 3.65829 8.66187 5.41668 8.66187 7.38023C8.66187 9.34378 9.56916 11.1022 11 12.2839Z" fill="#FF5E00"/>
              </svg>
            </div>
          </div>
        </div>
      </div>


      <div class="buy-p-inf">
        <label for="email" class="buy-form-label-one">Comment</label>
        <div class="buy-input-comment">
          <input type="text" placeholder="Enter text" class="buy-input" required>
        </div>

      </div>

      <button class="buy-button-submit" type="submit">Submit</button>


    </form>
  </div>
</div>
