<div class="backdrop-buy is-hidden" data-modal-buy="/src/js/modal-buy.js">
  <div class="buy-window">
    <button class="buy-close" type="button" data-modal-buy-close>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M18 6L6 18" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6 6L18 18" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    <h2 class="buy-now"><span class="buy-span">BUY</span> NOW</h2>
    <button class="buy-button-submit">Submit</button>
  </div>
</div>
