<div class="backdrop-buy is-hidden" data-modal-buy="/src/js/modal-buy.js">
  <div class="buy-window">
    <button class="buy-close" type="button" data-modal-buy-close>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M18 6L6 18" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6 6L18 18" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    <h2 class="buy-now"><span class="buy-span">BUY</span> NOW</h2>
    <div class="buy-schoco">
      <div class="buy-schoco-cont">
        <div class="buy-schoco-cont-one"></div>
        <button class="buy-grams">100 g</button>
      </div>
    </div>

    <div class="buy-schoco-two">
      <div class="buy-schoco-cont">
        <div class="buy-schoco-cont-two"></div>
        <button class="buy-grams">200 g</button>
      </div>
    </div>

    <div class="buy-schoco-three">
      <div class="buy-schoco-cont">
        <div class="buy-schoco-cont-three"></div>
        <button class="buy-grams">300 g</button>
      </div>
    </div>

    <form action="" class="buy-form">
      <div class="buy-p-inf">
        <label for="text" class="buy-form-label-one">Personal information</label>
        <div class="buy-inp-div">
          <div class="buy-input-div">
            <input type="text" placeholder="Name" class="buy-input">
          </div>
          <div class="buy-input-div">
            <input type="text" placeholder="Surname" class="buy-input">
          </div>
        </div>
      </div>

      <div class="buy-p-inf">
        <label for="email" class="buy-form-label-one">Email</label>
        <div class="buy-input-div">
          <input type="email" placeholder="Enter your email" class="buy-input">
        </div>

      </div>
    </form>
    <button class="buy-button-submit" type="submit">Submit</button>
  </div>
</div>
