<div class="modal-menu-container js-menu-container" id="mobile-menu">
  <button type="button" class="modal-menu-close-btn menu-toggle js-close-menu">
    <svg class="modal-menu-close-icon"  class="icon-close">
      <use href="./images/icons.svg#icon-close" />
    </svg>
  </button>
  <div class="mobile-menu-nav-box">
    <ul class="list modal-menu-nav-list">
      <li>
        <a class="link mobile-menu-nav-list-item mobile-menu-underline" href="#header">Home</a>
      </li>
      <li>
        <a class="link mobile-menu-nav-list-item mobile-menu-underline" href="#making">How it’s made?</a>
      </li>
      <li>
        <a class="link mobile-menu-nav-list-item mobile-menu-underline" href="#products">Our products</a>
      </li>
      <li>
        <a class="link mobile-menu-nav-list-item mobile-menu-underline" href="#sellers">Top sellers</a>
      </li>
      <li>
        <a class="link mobile-menu-nav-list-item mobile-menu-underline" href="#reviews">Chocolate is loved</a>
      </li>
    </ul>
  </div>

      <div class="modal-menu-social-media-box">
        <ul class="list">
          <li class="modal-menu-social">
            <a class="link modal-menu-social-link" href="https://www.instagram.com">
              <svg class="modal-menu-instagram-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <use class="modal-menu-social-svg-use" href="./images/icons.svg#icon-instagram">

                </use>
              </svg>
            </a>
          </li>
          <li class="modal-menu-social">
            <a class="link modal-menu-social-link" href="https://www.twitter.pl">
              <svg class="modal-menu-twitter-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24">
              <use class="modal-menu-social-svg-use" href="./images/icons.svg#icon-twitter">

              </use></svg>
                
              </svg>
            </a>
          </li>
        </ul>
      </div>

</div>
