<div class="modal-menu-container js-menu-container" id="mobile-menu">
  <button type="button" class="modal-menu-close-btn menu-toggle js-close-menu">
    <svg class="modal-menu-close-icon"  class="icon-close">
      <use href="./images/icons.svg#icon-close-2" />
    </svg>
  </button>
  <div class="mobile-menu-nav-box">
    <ul class="list modal-menu-nav-list">
      <li>
        <a class="link mobile-menu-nav-list-item mobile-menu-underline" href="">Home</a>
      </li>
      <li>
        <a class="link mobile-menu-nav-list-item mobile-menu-underline" href="">How it’s made?</a>
      </li>
      <li>
        <a class="link mobile-menu-nav-list-item mobile-menu-underline" href="">Our products</a>
      </li>
      <li>
        <a class="link mobile-menu-nav-list-item mobile-menu-underline" href="">Top sellers</a>
      </li>
      <li>
        <a class="link mobile-menu-nav-list-item mobile-menu-underline" href="">Chocolate is loved</a>
      </li>
    </ul>
  </div>

      <div class="modal-menu-social-media-box">
        <ul class="list">
          <li>
            <a class="link modal-menu-social-link" href="">
              <svg class="modal-menu-instagram-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24" 
                viewBox="0 0 24 24"
              >
                <use href="./images/icons.svg#icon-instagram">

                </use>
              </svg>
            </a>
          </li>
          <li>
            <a class="link modal-menu-social-link" href="">
              <svg class="modal-menu-twitter-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24">
              <use href="./images/icons.svg#icon-twitter">

              </use></svg>
                
              </svg>
            </a>
          </li>
        </ul>
      </div>

</div>
