<section id="reviews" class="reviews-section">
  <div class="container cont-reviews">
    <h2 class="second-heading reviews-heading">
      <span class="reviews-accent">chocolate</span> is loved
    </h2>
    <div class="swiper reviews-js-slider">
      <ul class="list reviews-list swiper-wrapper">
        <li class="reviews-li swiper-slide">
          <img
            class="review-photo"
            width="80"
            height="80"
            src="images/reviews/icon-victoria.png"
            srcset="images/reviews/icon-victoria.png 1x, images/reviews/icon-victoria@2x.png 2x"
            alt="a woman with short red hair and light eyes"
          />
          <h3 class="review-heading">Victoria Dobrzhanska</h3>
          <p class="review-p">
            I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin
            layer chocolate.
          </p>
        </li>
        <li class="reviews-li swiper-slide">
          <img
            class="review-photo"
            width="80"
            height="80"
            src="images/reviews/icon-nazar.png"
            srcset="images/reviews/icon-nazar.png 1x, images/reviews/icon-nazar@2x.png 2x"
            alt="red-haired young man with freckles"
          />
          <h3 class="review-heading">Nazar Babenko</h3>
          <p class="review-p">
            This chocolate confection is a delight! A delight! The wafer is light and crisp, the
            hazelnut cream is smooth, and the chocolate is good.
          </p>
        </li>
        <li class="reviews-li swiper-slide">
          <img
            class="review-photo"
            width="80"
            height="80"
            src="images/reviews/icon-olena.png"
            srcset="images/reviews/icon-olena.png 1x, images/reviews/icon-olena@2x.png 2x"
            alt="a woman with long fair hair and make-up"
          />
          <h3 class="review-heading">Olena Kampusch</h3>
          <p class="review-p">
            Chocolate is a family favourite treat. Love the delicious smooth chocolate and the
            creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>
        <li class="reviews-li swiper-slide">
          <img
            class="review-photo"
            width="80"
            height="80"
            src="images/reviews/icon-natalia.png"
            srcset="images/reviews/icon-natalia.png 1x, images/reviews/icon-natalia@2x.png 2x"
            alt="a woman with long wavy red hair and freckles"
          />
          <h3 class="review-heading">Natalia Sus</h3>
          <p class="review-p">
            The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth
            and just right on the sweetness level.
          </p>
        </li>
        <li class="reviews-li swiper-slide">
          <img
            class="review-photo"
            width="80"
            height="80"
            src="images/reviews/icon-danilo.png"
            srcset="images/reviews/icon-danilo.png 1x, images/reviews/icon-danilo@2x.png 2x"
            alt="a smiling young man with lush hair"
          />
          <h3 class="review-heading">Danilo Nottingham</h3>
          <p class="review-p">
            This is delicious. It so rich and flavorful you don’t need to use as many. I love
            topping an apple with almond butter and these chips for a snack.
          </p>
        </li>
        <li class="reviews-li swiper-slide">
          <img
            class="review-photo"
            width="80"
            height="80"
            src="images/reviews/icon-irina.png"
            srcset="images/reviews/icon-irina.png 1x, images/reviews/icon-irina@2x.png 2x"
            alt="a woman with long fair hair and a phone in hand looking over her shoulder"
          />
          <h3 class="review-heading">Irina Tydnyuk</h3>
          <p class="review-p">
            This is simply the best chocolate around, and I'm just thrilled to support a local
            company! Best local chocolate - world class :&rpar;
          </p>
        </li>
      </ul>
      <!--
      <ul class="list reviews-slider">
        <li><button type="button" class="reviews-slide active-review"></button></li>
        <li><button type="button" class="reviews-slide"></button></li>
        <li><button type="button" class="reviews-slide"></button></li>
        <li><button type="button" class="reviews-slide"></button></li>
      </ul>
       -->
      <div class="swiper-pagination reviews-js-pagination"></div>
    </div>
    <button class="reviews-button" type="button" data-modal-review-open>Leave a review</button>
  </div>
</section>
