<section class="sellers-section">
    <div class="sellers-div">
        <h2 class="sellers-title"><span class="sellers-span">Top</span>Sellers</h2>
        <ul class="sellers-list">
            <li class="selless-li">
                <img class="sellers-img" width="335" height="468" src="./images/sellers/sellers-2-mobile.jpg" alt="chocolate fragments with hazelnuts and grains of coffie lying on the table"
                srcset="./images/sellers/sellers-1-mobile.jpg 1x,
                ./images/sellers/sellers-1-mobile@2x.jpg 2x">                
            </li>
            <div class="sellers-p-div">
            <p class="sellers-minitext">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for
            thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            </div>
            <li class="selless-li"> 
                <img class="sellers-img" width="335" height="468" src="./images/sellers/sellers-2-mobile.jpg" alt="hezelnut chocolate on the table put stacked"
                srcset="./images/sellers/sellers-2-mobile.jpg 1x,
                ./images/sellers/sellers-2-mobile@2x.jpg 2x"> 
            </li>
        </ul>
        <div class="sellers-button-div">
            <button class="sellers-button" type="button" data-modal-buy-open>Buy now</button>
        </div>
    </div>
</section>