<section class="subscribe">
  <div class="container">
    <ul class="subscribe-list">
      <li>
        <h2 class="subscribe-h2">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
      </li>
      <li>
        <p class="subscribe-p">
          From the velvety texture to the rich and complex flavor, our New Chocolate is a true
          indulgence that will leave you craving more. Made with only the finest ingredients and
          handcrafted with the utmost care, each piece is a work of art that is sure to please.
        </p>
      </li>
      <li>
        <button class="subscribe-button">Subscribe</button>
      </li>
    </ul>
  </div>
</section>
