<section class="container subscribe">
  <div class="subscribe-container">
    <div class="subscribe-container-two">
      <div class="subscribe-container-h2-p">
        <h2 class="subscribe-h2">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
        <p class="subscribe-p">
          From the velvety texture to the rich and complex flavor, our New Chocolate is a true
          indulgence that will leave you craving more. Made with only the finest ingredients and
          handcrafted with the utmost care, each piece is a work of art that is sure to please.
        </p>
      </div>
      <button class="subscribe-button">Subscribe</button>
    </div>
  </div>
</section>

<!-- ============ okno modalne subscribe ====================-->

<div class="subscribe-modal-container visually-hidden">
  <div class="subscribe-modal">
    <button type="button" class="subscribe-button-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          fill="#FFFFFF"
          d="M18.29 5.71a.996.996 0 0 0-1.41 0L12 10.59 7.12 5.71a.996.996 0 1 0-1.41 1.41L10.59 12 5.71 16.88a.996.996 0 1 0 1.41 1.41L12 13.41l4.88 4.88a.996.996 0 1 0 1.41-1.41L13.41 12l4.88-4.88a.996.996 0 0 0 0-1.41z"
        />
      </svg>
    </button>
    <div class="subscribe-modal-background"></div>
  </div>
</div>
