:root {
  --color-white: #fff;
  --color-light: #fafafa;
  --color-lightgray: #1111111a;
  --color-gray: #111111b2;
  --color-dark: #1e1823;
  --color-black: #111;
  --color-orange: #fd9222;
  --color-lightorange: #fcf1e0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-light);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 375px;
}

button {
  cursor: pointer;
}

.second-heading {
  font-size: 20px;
  letter-spacing: -0.03em;
  line-height: 1.2;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
