/* ============================MOBILE=============================== */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .components-section {
    background: var(--color-light);
  }
  .components-container {
    max-width: 375px;
    padding: 72px 20px;
    margin: 0 auto;
  }
  .components-header {
    color: var(--color-black);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2em; /* 120% */
    letter-spacing: -0.0375em;
    text-transform: uppercase;
    padding: 0 46px;
    margin-bottom: 24px;
  }

  .components-header-span {
    color: var(--color-orange);
  }

  .components-header-paragraph {
    color: var(--color-black);
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29em; /* 128.571% */
    letter-spacing: -0.02em;
    padding-bottom: 32px;
  }

  .components-ul-1 {
    padding-bottom: 20px;
  }
  .components-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .components-list-ul-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .components-list-image {
    background-color: transparent;
    width: 335px;
    height: 270px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .components-milk-chocolate {
    width: 335px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 15px;
  }
  .components-orange-border {
    width: 335px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 15px;
  }

  .components-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .components-flip-card:hover .components-flip-card-inner {
    transform: rotateY(180deg);
  }

  .components-flip-card-front,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .components-flip-card-front {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 270px;
    border-radius: 15px;
    background: var(--color-orange);
  }

  .components-image-size {
    width: 224px;
    height: 171px;
    flex-shrink: 0;
  }

  .components-flip-card-back {
    background-color: var(--color-white);
    border-radius: 15px;
    transform: rotateY(180deg);
    padding: 28px;
    text-align: start;
  }

  .components-link {
    padding: 28 55 25 56;
    flex-shrink: 0;
  }

  .components-description-under-image {
    color: var(--color-white);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.29em; /* 128.571% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: start;
    padding: 0 0 28px 28px;
    flex-shrink: 0;
  }

  .components-h3 {
    color: var(--color-black);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  .components-hidden-paragraph {
    width: 279px;
    height: 146px;
    overflow: hidden;
    color: var(--color-black);
    text-overflow: ellipsis;
    white-space: wrap;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
  }
  /* 2 image */
  .components-flip-card-front-milk-sweet {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 270px;
    border-radius: 15px;
    background-color: var(--color-white);
    border: 1px solid var(--color-orange);
  }
  .components-description-under-image-milk-sweet {
    color: var(--color-black);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: start;
    padding: 0 0 25px 28px;
    flex-shrink: 0;
  }

  .components-flip-card-front-milk-sweet,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* 3 image */

  .components-flip-card-front-nuts {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 270px;
    border-radius: 15px;
    background-color: var(--color-dark);
  }

  .components-flip-card-front-nuts,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  /* -------------BUTTON------------ */

  .components-button {
    display: flex;
    gap: 6px;
    list-style: none;
    align-items: start;
    padding: 8px 0 14px 0;
  }
  .components-list-buttons {
    color: var(--color-black);
    border: 1px solid var(--color-orange);
    border-radius: 35px;
    background-color: var(--color-light);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em; /* 120% */
    padding: 6px 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .components-list-buttons:hover,
  .components-list-buttons:focus {
    color: var(--color-white);
    background-color: var(--color-orange);
    border: 1px solid transparent;
  }
}
/* ============================TABLET=============================== */

@media screen and (min-width: 768px) {
  .components-section {
    background: var(--color-light);
  }
  .components-container {
    margin: 0 auto;
    width: 768px;
    padding: 100px 32px;
  }
  .components-all-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 486px;
    gap: 28px;
    padding-bottom: 50px;
    margin: 0 auto;
  }
  .components-header {
    color: var(--color-black);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.166em; /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
    width: 411px;
  }

  .components-header-span {
    color: var(--color-orange);
  }

  .components-header-paragraph {
    color: var(--color-black);
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.285em; /* 128.571% */
    letter-spacing: -0.02em;
  }

  .components-ul {
    display: flex;
    gap: 32px;
  }
  .components-ul-1 {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .components-ul-2 {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    gap: 32px;
  }
  .components-list-ul-2 {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }
  .components-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .components-list-image {
    background-color: transparent;
    width: 336px;
    height: 270px;
    list-style: none;
    width: calc((100% - 24px) / 2);
    max-width: 704px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .components-milk-chocolate {
    width: 336px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 15px;
  }
  .components-orange-border {
    width: 336px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 15px;
  }

  .components-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .components-flip-card:hover .components-flip-card-inner {
    transform: rotateY(180deg);
  }

  .components-flip-card-front,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .components-flip-card-front {
    display: flex;
    flex-direction: column;
    width: 336px;
    height: 270px;
    border-radius: 15px;
    background: var(--color-orange);
  }

  .components-image-size {
    width: 224px;
    height: 171px;
    flex-shrink: 0;
  }

  .components-flip-card-back {
    background-color: var(--color-white);
    border-radius: 15px;
    transform: rotateY(180deg);
    padding: 28px;
    text-align: start;
  }

  .components-link {
    padding: 28 56 25 56;
    flex-shrink: 0;
  }

  .components-description-under-image {
    color: var(--color-white);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.285em; /* 128.571% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: start;
    padding: 0 0 25px 28px;
    flex-shrink: 0;
  }

  .components-h3 {
    color: var(--color-black);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  .components-hidden-paragraph {
    width: 279px;
    height: 146px;
    overflow: hidden;
    color: var(--color-black);
    text-overflow: ellipsis;
    white-space: wrap;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.02em;
  }
  /* 2 image */
  .components-flip-card-front-milk-sweet {
    display: flex;
    flex-direction: column;
    width: 336px;
    height: 270px;
    border-radius: 15px;
    background-color: var(--color-white);
    border: 1px solid var(--color-orange);
  }
  .components-description-under-image-milk-sweet {
    color: var(--color-black);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.285em; /* 128.571% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: start;
    padding: 0 0 25px 28px;
    flex-shrink: 0;
  }

  .components-flip-card-front-milk-sweet,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* 3 image */

  .components-flip-card-front-nuts {
    display: flex;
    flex-direction: column;
    width: 336px;
    height: 270px;
    border-radius: 15px;
    background-color: var(--color-dark);
  }

  .components-flip-card-front-nuts,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  /* -------------BUTTON------------ */

  .components-button {
    display: flex;
    gap: 6px;
    list-style: none;
    align-items: start;
    padding: 8px 0 14px 0;
  }
  .components-list-buttons {
    color: var(--color-black);
    border: 1px solid var(--color-orange);
    border-radius: 35px;
    background-color: var(--color-light);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em; /* 120% */
    padding: 6px 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .components-list-buttons:hover,
  .components-list-buttons:focus {
    color: var(--color-white);
    background-color: var(--color-orange);
    border: 1px solid transparent;
  }
}
/* ===========================DESKTOP============================================== */

@media all and (min-width: 1200px) {
  .components-container {
    margin: 0 auto;
    width: 1200px;
    padding: 128px 32px;
  }

  .components-section {
    background: var(--color-light);
  }
  .components-all-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 486px;
    gap: 28px;
    padding-bottom: 50px;
    margin: 0 auto;
  }
  .components-header {
    color: var(--color-black);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.166em; /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
    width: 411px;
  }

  .components-header-span {
    color: var(--color-orange);
  }

  .components-header-paragraph {
    color: var(--color-black);
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.285em; /* 128.571% */
    letter-spacing: -0.02em;
  }

  .components-ul {
    display: flex;
    justify-content: center;
    gap: 19px;
  }
  .components-ul-1 {
    display: block;
    padding: 0;
  }
  .components-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 19px;
  }

  .components-list-ul-2 {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 19px;
  }

  .components-list-image {
    background-color: transparent;
    width: 270px;
    height: 270px;
    list-style: none;
    width: calc((100% - 24px) / 2);
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .components-milk-chocolate {
    width: 270px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 15px;
  }
  .components-orange-border {
    width: 270px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 15px;
  }

  .components-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .components-flip-card:hover .components-flip-card-inner {
    transform: rotateY(180deg);
  }

  .components-flip-card-front {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 270px;
    border-radius: 15px;
    background: var(--color-orange);
  }

  .components-image-size {
    width: 206px;
    height: 160px;
    flex-shrink: 0;
  }

  .components-flip-card-back {
    background-color: var(--color-white);
    border-radius: 15px;
    transform: rotateY(180deg);
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  .components-flip-card-front,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .components-link {
    padding: 28 36 36 28;
  }

  .components-description-under-image {
    color: var(--color-white);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.285em; /* 128.571% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: start;
    padding: 0 0 28px 28px;
    flex-shrink: 0;
  }

  .components-h3 {
    color: var(--color-black);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  .components-hidden-paragraph {
    width: 230px;
    height: 162px;
    overflow: hidden;
    color: var(--color-black);
    text-overflow: ellipsis;
    white-space: wrap;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.285em; /* 128.571% */
    letter-spacing: -0.02em;
  }
  .components-hidden-paragraph-seet-desktop {
    height: 140px;
  }
  /* 2 image */
  .components-flip-card-front-milk-sweet {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 270px;
    border-radius: 15px;
    background-color: var(--color-white);
    border: 1px solid var(--color-orange);
  }
  .components-description-under-image-milk-sweet {
    color: var(--color-black);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.285em; /* 128.571% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: start;
    padding: 0 0 25px 28px;
    flex-shrink: 0;
  }

  .components-flip-card-front-milk-sweet,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* 3 image */

  .components-flip-card-front-nuts {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 270px;
    border-radius: 15px;
    background-color: var(--color-dark);
  }

  .components-flip-card-front-nuts,
  .components-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  /* -------------BUTTON------------ */

  .components-button {
    display: flex;
    gap: 6px;
    list-style: none;
    align-items: start;
    padding: 8px 0 14px 0;
  }
  .components-list-buttons {
    color: var(--color-black);
    border: 1px solid var(--color-orange);
    border-radius: 35px;
    background-color: var(--color-light);
    font-family: 'Montserrat';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em; /* 120% */
    padding: 6px 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .components-list-buttons:hover,
  .components-list-buttons:focus {
    color: var(--color-white);
    background-color: var(--color-orange);
    border: 1px solid transparent;
  }
}
