.header-container {
  padding: 0 32px;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header-logo > a {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 31px 0;
}

.header-chocolate-icon {
  fill: transparent;
  stroke: #fd9222;
}

.header-nav-box > ul {
  display: flex;
  gap: 24px;
  display: none;
}

.header-logo-text {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.54px;
}

.header-nav-list-item {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.28px;
}

.header-social-media-box > ul {
  display: flex;
  gap: 18px;
  display: none;
}

.header-burger-menu {
  display: block;
}

.header-burger-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.header-burger-icon {
  fill: transparent;
  stroke: #111;
  stroke-width: 2px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-container {
    padding: 0 32px;
  }

  .header-navigation {
    max-width: 704px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-burger-icon {
    fill: transparent;
    stroke: #111;
    stroke-width: 2.5px;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    width: 1136px;
    padding: 0 32px;
    margin: 0 auto;
  }

  .header-logo-text {
    white-space: nowrap;
  }

  .header-burger-menu {
    display: none;
  }

  .header-nav-box {
    margin-left: 188px;
  }

  .header-nav-box > ul {
    display: flex;
    gap: 24px;
  }

  .header-social-media-box {
    margin-left: 137px;
  }

  .header-social-media-box > ul {
    display: flex;
    gap: 18px;
  }
  .header-nav-list-item {
    white-space: nowrap;
  }
  .header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-twitter-icon {
    fill: transparent;
    stroke: #111;
    transition-property: stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-twitter-icon:hover,
  .header-twitter-icon:focus {
    stroke: #fd9222;
  }

  .header-instagram-icon {
    fill: transparent;
    stroke: #111;
    transition-property: stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-instagram-icon:hover,
  .header-instagram-icon:focus {
    stroke: #fd9222;
  }
}
