.hero-background {
  align-items: end;
  background-image: linear-gradient(#11111100, #111111),
    url('../images/hero/hero-background-mobile.jpg');
  background-repeat: no-repeat;
  border-radius: 30px;
  color: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  height: 621px;
  margin-bottom: 71px;
  padding: 21px 20px;
}

.hero-heading {
  font-weight: 500;
  margin-bottom: 32px;
  max-width: 290px;
  text-transform: none;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.hero-button-row {
  align-items: center;
  display: flex;
  gap: 14px;
}

.hero-button-row:last-child {
  gap: 12px;
}

.hero-button {
  border-radius: 100px;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 600;
  padding: 12px 28px;
}

.hero-buy {
  background-color: var(--color-orange);
  border: none;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-buy:hover,
.hero-buy:focus {
  background-color: var(--color-lightorange);
  color: var(--color-orange);
  outline: none;
}

.hero-how {
  background: transparent;
  border: 1px solid var(--color-white);
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-how:hover,
.hero-how:focus {
  border-color: var(--color-orange);
  color: var(--color-orange);
  outline: none;
}

.hero-p {
  font-size: 12px;
  letter-spacing: -0.03em;
  line-height: 1.17;
}

.hero-scroll {
  align-items: center;
  background-color: var(--color-white);
  border: none;
  border-radius: 50%;
  display: flex;
  height: 28px;
  justify-content: center;
  transition: background-color 250ms linear, color 250ms linear;
  width: 28px;
}

.hero-scroll:hover,
.hero-scroll:focus {
  background-color: var(--color-orange);
  outline: none;
}

.hero-scroll:hover .hero-scroll-icon,
.hero-scroll:focus .hero-scroll-icon {
  fill: var(--color-white);
}

.hero-scroll-icon {
  fill: var(--color-orange);
  width: 16px;
  height: 16px;
}

@media screen and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-background {
    background-image: linear-gradient(#11111100, #111111),
      url('../images/hero/hero-background-mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero-background {
    background-image: linear-gradient(#11111100, #111111),
      url('../images/hero/hero-background-tablet.jpg');
    height: 890px;
    margin-bottom: 50px;
    padding: 40px;
  }

  .hero-content {
    width: 100%;
  }

  .hero-heading {
    font-size: 28px;
    line-height: 1.21;
    max-width: 484px;
  }

  .hero-buttons {
    justify-content: space-between;
  }

  .hero-button-row:last-child {
    gap: 14px;
  }

  .hero-button {
    padding: 14px 40px;
  }

  .hero-p {
    font-size: 14px;
    line-height: 1.29;
  }

  .hero-scroll {
    height: 38px;
    width: 38px;
  }

  .hero-scroll-icon {
    width: 22px;
    height: 22px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-background {
      background-image: linear-gradient(#11111100, #111111),
        url('../images/hero/hero-background-tablet@2x.jpg');
    }
  }
}

@media all and (min-width: 1200px) {
  .hero-background {
    align-items: end;
    background-image: linear-gradient(#11111100, #111111),
      url('../images/hero/hero-background-desktop.jpg');
    height: 600px;
    margin-bottom: 72px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-background {
      background-image: linear-gradient(#11111100, #111111),
        url('../images/hero/hero-background-desktop@2x.jpg');
    }
  }
}
