.modal-menu-container {
  background-color: var(--color-dark);
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  width: 220px;
  height: 100vh;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.modal-menu-container.is-open {
  transform: translateX(0);
}

.modal-menu-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  color: var(--color-white);
  transition-property: color right top;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-close-btn:hover,
.modal-menu-close-btn:focus {
  color: var(--color-orange);
  right: 14px;
  top: 14px;
}

.modal-menu-close-icon {
  stroke: currentColor;
  width: 28px;
  height: 28px;
  transition-property: width, height;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-close-btn:focus > .modal-menu-close-icon {
  width: 40px;
  height: 40px;
}

.modal-menu-close-btn:hover > .modal-menu-close-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu-nav-box {
  position: absolute;
  left: 50px;
  top: 136px;
}

.modal-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-nav-list-item {
  position: relative;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-list-item:hover,
.mobile-menu-nav-list-item:focus {
  color: var(--color-orange);
}

.mobile-menu-underline::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  bottom: -8px;
  left: 0;
  background: var(--color-orange);
  transition-property: width;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-underline:focus::after {
  width: 100%;
}

.mobile-menu-underline:hover::after {
  width: 100%;
}

.mobile-menu-underline:active::after {
  width: 100%;
}

.modal-menu-social-media-box {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.modal-menu-social-media-box > ul {
  display: flex;
  gap: 18px;
  align-items: center;
  height: 20px;
}

.modal-menu-social {
  height: 100%;
}

.modal-menu-social-link {
  display: block;
  height: 100%;
  color: var(--color-white);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-social-link:hover,
.modal-menu-social-link:focus {
  color: var(--color-orange);
}

.modal-menu-twitter-icon {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: currentColor;
  stroke-width: 1.5;
  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-instagram-icon {
  width: 22px;
  height: 22px;
  fill: transparent;
  stroke: currentColor;
  stroke-width: 1.5;
  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-social-svg-use {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal-menu-container {
    background-color: var(--color-dark);
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    width: 290px;
    height: 100vh;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .modal-menu-close-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 32px;
    top: 24px;
    color: var(--color-white);
    transition-property: color right top;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-menu-close-btn:hover,
  .modal-menu-close-btn:focus {
    color: var(--color-orange);
    right: 28px;
    top: 20px;
  }

  .modal-menu-close-icon {
    stroke: currentColor;
    width: 32px;
    height: 32px;
    transition-property: width, height;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-menu-close-btn:focus > .modal-menu-close-icon {
    width: 40px;
    height: 40px;
  }

  .modal-menu-close-btn:hover > .modal-menu-close-icon {
    width: 40px;
    height: 40px;
  }

  .mobile-menu-nav-box {
    position: absolute;
    left: 85px;
    top: 156px;
  }
  .modal-menu-social-media-box {
    position: absolute;
    left: 32px;
    bottom: 24px;
  }

  .modal-menu-social-media-box > ul {
    display: flex;
    gap: 18px;
    align-items: center;
    height: 24px;
  }

  .modal-menu-social {
    height: 100%;
  }

  .modal-menu-social-link {
    display: block;
    height: 100%;
    color: var(--color-white);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-menu-twitter-icon {
    width: 24px;
    height: 24px;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2px;
    transition-property: stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-menu-instagram-icon {
    width: 24px;
    height: 24px;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2;
    transition-property: stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-menu-social-svg-use {
    height: 100%;
    width: 100%;
  }
}
