/*--------------------------------------------------------MOBILE-----------------------------------------------*/
@media screen and (min-width: 375px) {
.sellers-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(17, 17, 17, 1);
    text-transform: uppercase;
    padding-bottom: 32px;
}
.sellers-span {
    color: rgba(253, 146, 34, 1);
}
.sellers-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 20px;
}
.sellers-img {
    border-radius: 15px;
}
.sellers-p-div {
    width: 306px;
    
}
.sellers-minitext{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.28;
    color: rgba(17, 17, 17, 1);
}
.sellers-button-div {
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
}
.sellers-button {
    border-radius: 100px;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
    padding: 12px 28px;
    background-color: var(--color-orange);
    border: none;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    align-self: center;
}
.sellers-button:hover,
.sellers-button:focus {
    background-color: var(--color-lightorange);
    color: var(--color-orange);
}
.tab {
    display: none;
}
.desktop {
    display: none;
}
}
/*--------------------------------------------------------TABLET-----------------------------------------------*/
@media screen and (min-width: 768px) {
.mobile-sellers {
    display: none;
}
.tab-sellers {
    display: flex;
}
.desktop-sellers {
    display: none;
}
.sellers-div {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 100px;
}
.sellers-title {
    padding-bottom: 64px;
}
.sellers-list {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    padding-bottom: 31px;
}
.sellers-p-div {
    width: 407px;
}
.sellers-text-button {
   display: flex; 
   justify-content: space-between;
   align-items: flex-start;
   padding-bottom: 72px;
}
.sellers-button-div {
    padding-bottom: 0px;
}
}
/*--------------------------------------------------------DESKTOP-----------------------------------------------*/
@media screen and (min-width: 1200px) {

}